@import '_variables.scss';

.WeekDay {
  flex: 1;
  border-left: 1px solid $line-color;
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   border-left: 1px solid $line-color;
  //   height: 100%;
  // }

  &:last-child {
    border-right: 1px solid $line-color;
  }
}