@import '_variables.scss';
@import '_mixins.scss';

.WeekCalendar {
  width: 100%;
  position: relative;
  border: 1px solid $line-color;
  
  * {
    box-sizing: border-box;
  }

  &-content {
    display: flex;
    overflow-y: scroll;
    @include scrollbar();
  }

}